/* General CSS */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #212529;
  }

a {
    color: #ce1212;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Section & Section Header */

section {
    overflow: hidden;
    padding: 80px 0;
}

.section-bg {
    background-color: #eee;
}

.section-header {
    text-align: center;
    padding-bottom: 30px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-header p {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
.section-header p span {
    color: #ce1212;
  }

/* Header CSS */

.header {
    background: white;
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    border-bottom: 1px solid white;
}

@media (max-width: 575px){
    .header {
        height: 70px;
    }
}

.header .logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: black;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header .logo h1 span {
    color: #ce1212;
}

.header .btn-book-a-table, .header .btn-book-a-table:focus {
    font-size: 14px;
    color: white;
    background: #ce1212;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.header .btn-book-a-table:hover, .header .btn-book-a-table:focus:hover {
    color: white;
    background: rgba(206, 18, 18, 0.8);
}

section {
    scroll-margin-top:90px;
}

/* Desktop Navbar */

@media (min-width: 1280px){
    .navbar {
        padding: 0;
    }


    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar a, .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #7f7f90;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .navbar a i, .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar>ul>li>a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        background-color: #ce1212;
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }

    .navbar a:hover:before, .navbar li:hover>a:before, .navbar .active:before {
        visibility: visible;
        width: 100%;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #000;
    }

    .navbar ul li {
        min-width: 200px;
    }

    .navbar ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 600;
    }

    .navbar ul a i {
        font-size: 12px;
    }

    .navbar ul a:hover, .navbar ul .active:hover, .navbar ul li:hover>a {
        color: #ce1212;
    }
}

@media (min-width: 1280px){
    .mobile-nav-show, .mobile-nav-hide {
        display: none;
    }
}

/* Mobile Navigation */

@media (max-width:1279px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 400px;
        border-left: 1px solid #666;
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
    }

    .navbar ul {
        position: absolute;
        inset: 0;
        padding: 50px 0 10px 0;
        margin: 0;
        background: rgba(255, 255, 255, 0.8);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
    }

    .navbar a, .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-bottom: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 16px;
        font-weight: 600;
        color: #7f7f90;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i, .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:before, .navbar li:hover>a {
        color: #000;
    }

    .navbar .active, .navbar .active:focus {
        color: #000;
        border-color: #ce1212;
    }

    .mobile-nav-show {
        color: #37373f;
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        z-index: 9999;
        margin: 0 10px 0 20px;
    }
    
    .mobile-nav-hide {
        color: #37373f;
        font-size: 32px;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 9999;
    }
    
    .mobile-nav-active {
        overflow: hidden;
    }
    
    .mobile-nav-active .navbar {
        right: 0;
    }
    
    .mobile-nav-active, .navbar:before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9996;
    }
}

/* Hero Section */
  
.hero {
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
}

.hero h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #37373f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero h2 span {
    color:rgba(206, 18, 18, 0.8);
}

.hero .btn-book-a-table {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color:white;
    background-color: #ce1212;
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
}

.hero .btn-book-a-table:hover {
    background: rgba(206, 18, 18, 0.8);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
  }
  
  .hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: var(--font-secondary);
    font-weight: 600;
  }
  
  .hero .btn-watch-video i {
    color: var(--color-primary);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  .hero .btn-watch-video:hover {
    color: var(--color-primary);
  }
  
  .hero .btn-watch-video:hover i {
    color: rgba(206, 18, 18, 0.8);
  }
  
  @media (max-width: 640px) {
    .hero h2 {
      font-size: 36px;
    }
  
    .hero .btn-get-started,
    .hero .btn-watch-video {
      font-size: 14px;
    }
  }